<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">TinyApp</a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <% if (!username) { %>
        <!-- Display Register and Login links for users not logged in -->
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
      <% } else { %>
        <!-- Display Logout button for logged-in users -->
        <li class="nav-item">
          <form action="/logout" method="POST">
            <button type="submit" class="btn btn-link nav-link">Logout</button>
          </form>
        </li>
      <% } %>
    </ul>
  </div>
</nav>
